<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="NetBankingGuru" >

<listeners>
<listener class-name="com.netbankingGuru.utilities.Reporting"></listener>
</listeners>


  <test name="Banking" >
  <parameter name="browser" value="chrome" />
    <classes>
      <!-- <class name="com.netbankingGuru.testCases.TC_LoginTest_01" />  -->
         <class name="com.netbankingGuru.testCases.TC_LoginTest_DDT_02" />
    </classes>
  </test>
 
  
</suite>
